* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;

}

.left {
    width: 22vw;
    margin: 3px;


}

.right {
    width: 78vw;
    margin: 3px;
    background-color: #1d1d1d;
    margin: 7px;
    margin-top: 8px;
    border-radius: 7px;

}

.top {
    padding: 20px 24px;
    margin: 5px;
    padding-right: 95px;
}

.top ul li {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-top: 20px;

}

.bottom {
    margin: 4px;
    padding: 17px 24px;
    margin: 5px;
    margin-top: 8px;
    padding-right: 95px;
    min-height: 38.05vw;
}

.text {
    margin-left: 5px;
}

.bottom .add {
    width: 15px;
    position: relative;
    left: 220px;
}

.heading span {
    padding: 0px 10px;
}

.footer {
    padding: 20px 8px;
    position: absolute;
    bottom: 20px;
}

.footer button {
    background-color: #121212;
    color: #FFFFFF;
    border: 2px solid#727272;
    border-radius: 15px;
    padding: 2px 10px;
    gap: 8px;
    margin-top: 15px;
    margin: 10px;
}

.footer .cookies {
    padding: 20px 0px;
    font-size: small;
    font-weight: normal;
    opacity: 60%;
}


nav {
    background-color: #121212;
    border-radius: 7px;
    text-align: center;
    height: 65px;
}


.icon img {
    width: 9px;
    margin: 20px 5px;
}

.right-arrow {
    padding-left: 17px;
}

.left-arrow {
    padding-left: 33px;
}

.signup {
    background-color: #121212;
    border: none;
    color: white;
    font-weight: bolder;
    padding: 20px 24px;
    font-size: 15px;
}

.login {
    font-weight: bolder;
    padding: 15px 33px;
    border-radius: 30px;
    font-size: 15px;
    margin-right: 30px;
    border: none;
}

.btn button {
    margin-top: 5px;
}

.playlist {
    background-color: #1d1d1d;

}


.playlist-header h1 {
    font-size: 24px;
    margin: 4px;
}

.show-all {
    background-color: #1d1d1d;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    margin-right: 25px;
    margin-top: 8px;
}

.cards {
    gap: 14px;
}

.cards .card {
    background-color: #181818;
    margin: 5px;
    border-radius: 7px;
    padding: 15px 17px;
    width: 150px;
    height: fit-content;
    position: relative;
}

.card .card-img {
    height: 150px;
    width: 150px;
    border-radius: 7px;
}

.play-btn {
    height: 50px;
    width: 50px;
    background-color: #1ed760;
    border-radius: 50px;
    position: absolute;
    bottom: 99px;
    right: 23px;
}

.play-btn img {
    width: 20px;
    margin-left: 4px;
}