.display {
    display: flex;
}

.content {
    justify-content: center;
}

.align {
    align-items: center;
}

column {
    flex-direction: column;
}

.invert {
    filter: invert(1);
    height: 24px;
}

.bg-grey {
    background-color: #121212;
    border-radius: 7px;
    width: 300px;

}

.bg-black {
    background-color: black;
    color: #FFFFFF;
}

.space {
    justify-content: space-between;
}

.mgn-left {
    margin-left: 20px;
}

.size {
    font-size: 17px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 0px;
}

.size2 {
    font-size: 14px;
    font-weight: lighter;
    opacity: 60%;
    margin-top: 8px;
    margin-left: 0px;
}